.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;

  background: transparent;
  border: none;
  font-size: 28px;
  color: #333;

  cursor: pointer;
  padding: 8px;

  transition: all 0.2s ease;
}

.arrow-btn.left {
  left: 0;
}

.arrow-btn.right {
  right: 0;
}

.arrow-btn:hover {
  color: #000;
  transform: translateY(-50%) scale(1.2);
}